* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}
/* navigathion */
nav {
  display: flex;
  width: 100%;
  height: 56px;
  background-color: white;
  justify-content: space-between;
  position: fixed;
  top: 0px;
}
.nav-icon {
  display: flex;
  margin-left: 33px;
  justify-content: center;
  align-items: center;
}
.nav-icon .logo > img {
  height: 53px;
  margin-left: 10px;
  margin-top: 5px;
}
.deliver {
  display: flex;
  height: 37px;
  width: 200px;
  background-color: #f6f2ff;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}
.deliver > img {
  height: 22px;
  border-radius: 3px;
}
.nav-icon .bar {
  font-size: 20px;
  margin-left: 22px;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar > input {
  height: 35px;
  width: 500px;
  border-radius: 30px;
  border: 1px solid rgb(24, 23, 23);
  padding: 15px;
  font-size: 15px;
  margin-left: 40px;
}
.search-bar > i {
  position: relative;
  right: 30px;
}
.athor-icon {
  display: flex;
  margin-left: 40px;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.athor-icon > i {
  font-size: 20px;
  margin-right: 28px;
}
#cal {
  margin-right: 40px;
  color: #6d4ebf;
}

/* flowe container */
.flower {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.flower > h1 {
  margin-left: 53px;
  align-self: self-start;
  position: relative;
  margin-top: 30px;
}

.flower > .flodetails {
  display: flex;
  height: 100px;
  width: 93%;
  margin-top: 30px;
  background-color: white;
  border: 1.6px solid #ee93a2;
  border-radius: 8px;
}
.flodetails {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.flodetails > .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flodetails > .item > img {
  height: 40px;
  object-fit: contain;
  padding-bottom: 8px;
}

.flodetails > .line {
  width: 1px;
  height: 70px;
  background-color: red;
}
.imagebanner {
  height: 500px;
  width: 100wh;
  background-color: #6d4ebf;
}
.banner {
  height: 540px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner > img {
  height: 510px;
}
/* Blossoming */
.Blossoming {
  display: flex;
  height: 330px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
}
.Blossoming > .head1 {
  margin-left: 53px;
  margin-top: 10px;
}
.head1 {
  align-self: self-start;
}

.Blossoming > .head1 p {
  font-weight: 100;
  padding-top: 3px;
}
.Blossoming > .flow {
  display: flex;
  flex-direction: row;
  height: 250px;
  width: 90%;
  background-color: #ffffff;
  justify-content: space-evenly;
  margin-left: 50px;
}
.Blossoming > .flow > .item {
  display: flex;
  flex-direction: column;
  display: flex;
}
.Blossoming > .flow > .item > img {
  height: 170px;
  margin-top: 30px;
  margin-right: 10px;
}
.Blossoming > .flow > .item > p {
  align-self: center;
}

/* image siled show */
.img-siledshow {
  height: 400px;
  width: 100%;
  background-color: #ffffff;
}
.img-siledshow > .text {
  margin-left: 53px;
  padding-top: 30px;
}
.img-siledshow > .galary {
  height: 300px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
/* image ile show bur overflow */
.img-soldoverflow {
  height: 400px;
  width: 100%;
  background-color: #ffffff;
}
.img-soldoverflow > .text1 {
  margin-left: 56px;
  padding-top: 30px;
}
.img-soldoverflow > .galary_siled {
  height: 300px;
  background-color: rgb(255, 255, 255);
}

/* over flow sild showF */
.galary_siled {
  display: flex;
  gap: 20px;
  align-items: center;
  overflow-x: auto;
  margin-left: 56px;
}
.img-soldoverflow > .text1 > p {
  font-weight: 100;
  margin-top: 3px;
}
.con > img {
  border-radius: 10px 10px 0 0;
  height: 205px;
}
.galary_siled {
  scrollbar-width: none;
}
.galary_siled > .con {
  height: fit-content;
  width: fit-content;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
}
.galary_siled > .con > p {
  padding: 10px;
}

/* AGAON GALARY */
.Say-it {
  height: 450px;
  width: 100%;
  background-color: #ffffff;
}
.Say-it > .text2 {
  padding-top: 30px;
  padding-left: 56px;
}
.galary_siled > .con1 {
  height: fit-content;
  width: fit-content;
  background-color: white;
  border-radius: 10px;
  margin-top: 25px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.galary_siled > .con1 > img {
  border-radius: 10px 10px 0 0;
}
.galary_siled > .con1 > p {
  padding: 10px;
  text-align: center;
}

/* Curated Collections */
.all {
  height: 670px;
  width: 100%;
  background-color: powderblue;
}
.all > .text3 {
  margin-left: 56px;
}
.all > .text3 > p {
  font-weight: 100;
  margin-top: 3px;
}
.all > .galary {
  height: 600px;
  width: 80%;
  background-color: #ee93a2;
  margin-left: 56px;
  margin-top: 20px;
  gap: 10px;
}

.galary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px; /* base row height */
  gap: 15px;
}

.galary > .box {
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}

/* <!-- seccion container --> */

.seccion2 {
  height: 550px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.seccion2 > .image1 > img {
  border-radius: 20px;
  height: 470px;
}
/* Shop by Hue */
.Shopby {
  height: 350px;
  width: 100%;
  background-color: #ffffff;
}
.Shopby > .flower1 {
  margin-left: 56px;
  padding-top: 20px;
}
.Shopby > .flower1 > p {
  font-weight: 200;
}
.Shopby > .flower2 {
  height: 230px;
  width: 95%;
  background-color: rgb(255, 255, 255);
}
.Shopby > .flower2 {
  display: flex;
  align-items: center;
  margin-left: 40px;
  text-align: center;
}
.Shopby > .flower2 > .flo {
  margin-right: 80px;
  margin-bottom: 40px;
}
.Shopby > .flower2 > .flo > img {
  height: 130px;
}

/* Shop by Flower Type */
.FlowerType > div {
  margin-left: 56px;
}
.FlowerType > .ftypes {
  display: flex;
  align-items: center;
  padding-top: 30px;
}
.FlowerType > .ftypes > .type1 > img {
  height: 130px;
  border-radius: 50%;
}
.FlowerType > .ftypes > .type1 > p {
  text-align: center;
}
.FlowerType > .ftypes > .type1 {
  margin-right: 50px;
}

/* Trending Collections */

.Trending {
  height: 500px;
  width: 100%;
  background-color: #ffffff;
}
.Trending > div {
  padding-left: 56px;
  padding-top: 30px;
}
.Trending > div > p {
  font-weight: 200;
}
.Trending > .Collections {
  height: 400px;
  width: 100%;
  background-color: #fefefe;
  display: flex;
}
.Trending > .Collections > .coll1 {
  height: 350px;
  width: 350px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}
.Trending > .Collections > .img {
  background-image: url(img/handtied_bouquets_frames_igp_20221021.webp);
}
.Trending > .Collections > .img1 {
  background-image: url(img/flowers_in_a_box_frames_igp_20221021.webp);
}
.Trending > .Collections > .img2 {
  background-image: url(img/flowers_in_a_basket_frames_igp_20221021.webp);
}
.Trending > .Collections > .img3 {
  background-image: url(img/flowers_in_a_vase_frames_igp_20221021.webp);
}
/*  */
.Trending > .Collections > .coll1 > P {
  align-self: flex-end;
  text-transform: uppercase;
  font-size: larger;
  font-weight: 400;
  padding-bottom: 10px;
}
/* Delivering Blooms Worldwide */
.Delivering {
  height: 300px;
  width: 100wh;
  background-color: #ffffff;
}
.Delivering > div {
  padding-left: 56px;
  padding-top: 10px;
}
.Delivering > div > p {
  font-weight: 200;
  padding-top: 3px;
}
.Delivering > .contry {
  display: flex;
  overflow: scroll;
  scrollbar-width: none;
  margin-top: 20px;
}
.Delivering > .contry > .india {
  margin-right: 20px;
  margin-top: 1px;
}
.Delivering > .contry > .india > p {
  text-align: center;
}
.Delivering > .contry > .india > img {
  height: 180px;
}

/* Customer Stories */
.Customer > div{
  margin-left: 56px;
  padding-top: 20px;
  color: white;
  line-height: 30px;
}
.Customer > div >p{
  font-weight:100;
}
.Customer{
  height: 400px;
  width: 100%;
  background-color: #45485E;
  margin-top: 50px;
}

.Customer > .rating{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Customer > .rating > .box{
  height: 280px;
  width: 460px;
  background-color: #ffffff;
  margin-right: 20px;
  border-radius: 20px;
  border: 5px solid #45485E;
  outline: 1px solid white;
  color: #5F6C80;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.Customer > .rating > .box > img{
  height:75px;
  border-radius: 10px ;
  border: 5px solid  white;
  outline: 1px solid #45485E;
  margin-top: 30px;
}
.Customer > .rating > .box > p{
  text-align: center;
  padding: 20px;
}

/* email update */
.update{
  height: 160px;
  width: 100%;
  background-color: #45485E;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.update > .emails > .lines{
  height: 120px;
  width: 2px;
  background-color: rgb(255, 255, 255);
}
.update > .emails {
  display: flex;
  align-items: center;
  margin-left: 200px;
}
.update > div {
  color: white;
  margin-right: 20px;
  line-height:30px;
}
.update > div > p{
  font-weight: 100;
}
.update > .emails >input{
  width: 450px;
  height: 40px;
}
.update > .emails > button{
  height: 40px;
  width: 180px;
  background-color: #DD2745;
  border: none;
  color: white;
  font-size: small;
  margin-left: 10px;
}